<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Task Name</th>
            <th scope="col">Due Date</th>
            <th>Status</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let data of dataSource,index as i ">
            <td>{{i+1}}</td>
            <td>{{data.taskname}}</td>
            <td>{{data.date}}</td>
            <td>
                <button (click)="taskpending(data)" *ngIf="!data.completed" class="btn btn-danger">task
                    pending</button>
                <button (click)="taskcompleted(data)" *ngIf="data.completed" class="btn btn-success">task
                    completed</button>
            </td>
        </tr>
    </tbody>
</table> -->